/**
 * @fileOverview chat
 * @date 2023-4-14
 * @author poohlaha
 */
.design-page {
  background: @background;
  color: @color;
}

// 导航栏
.design-page .design-navigation {
  .design-navigation-left {
  }

  .design-navigation-center {
    font-size: @font_small;

    .screen {
      .screen-content {
        padding: 5px 8px;

        &:hover {
          background: @background_hover;
          border-radius: @border_radius;
        }
      }

      p:last-child {
        color: @color_desc;
      }

      p:first-child {
        padding-right: 5px;
      }

      p:last-child {
        padding-left: 5px;
      }
    }

    .svg-box {
      .svg-icon {
        height: 16px !important;
        width: 16px !important;
      }
    }

    .page-setting {
      .svg-box {
        height: 16px !important;
        width: 16px !important;
        margin-right: 4px;
      }

      .page-setting-content {
        padding: 5px 8px;

        &:hover {
          background: @background_hover;
          border-radius: @border_radius;
        }
      }
    }
  }

  .design-navigation-right {
    .svg-box {
      .setting-svg,
      .more-svg {
        width: 16px !important;
        height: 16px !important;
      }
    }

    .right-tools {
      margin-right: 12px;
    }

    .right-more {
      padding-left: 12px;
      border-left: @border;
    }

    .right-more {
      &:hover {
        .tooltip {
          display: block;
        }
      }
    }

    .tooltip {
      width: 150px;
    }
  }
}

// left
.design-page .design-left {
  .design-left-toolbar {
    width: 42px;
    background: #ffffff;
    border-right: @border;

    .svg-box {
      .svg-icon {
        width: 16px !important;
        height: 16px !important;
        color: @color_svg;
      }
    }

    .toolbar-bottom {
      padding-bottom: 20px;

      .svg-box {
        width: 40px !important;
        height: 40px !important;
      }
    }

    .toolbar-line {
      border-top: @border;
      margin: 8px 0;
      width: 20px;
    }

    .toggle-svg-box {
      &.toggle {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .left-panel {
    background: #ffffff;
    // box-shadow: 0 -2px 10px 0 rgba(39, 54, 78, .11);
    font-size: @font_small;
    position: relative;
    z-index: 4;

    &:not(.toggle) {
      border-right: @border;
    }

    &.toggle {
      .left-panel-content {
        width: 0;
      }
    }

    .left-panel-content {
      transition: all 0.2s ease-in-out 0s;
      width: 260px;
    }
  }
}

// center
.design-page .design-center {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, 'Pingfang SC', 'Microsoft Yahei',
    'WenQuanYi Micro Hei', sans-serif;

  .zoom-area {
    z-index: 1;
  }

  .canvas {
    z-index: 1;
  }
}

// right
.design-page .design-right {
  width: 260px;
  background: #ffffff;
  border-left: @border;
}
